.navbar{
  height: 80px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body{
  background-color: #F5F5F5;
}
.input{
  height: 2rem;
  width: 25%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}
.input span{
     padding: 7px 5px;
     
    font-size: 18px;
     background-color: #06335B;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     color: white;
}
.input input{
  height: 90%;
  width: 19.5rem;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  border-bottom: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-left: none;
}
.img2{
  height: 2rem;
}
.dash{
  height: 2.5rem;
  width: 10rem;
  background-color: #06335B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash span{

  font-size: 30px;
}
.dash p{
  font-size: 20px;
  margin-left: 5px;
}



@media only screen and  (min-width: 300px) and (max-width: 568px) {
  .navbar{
    position: relative;
    height: 120px;
    padding-bottom: 20px;
    justify-content: space-between;

  }
  
  .input{
    position: absolute;
    top: 80px;
    left: 130px;

 
  }
.dash2{
  display: none;
}
.img{
  margin-bottom: 30px;  
  margin-left: 10px;
}
.dash{
 width: 2rem;
 margin-bottom: 30px;
 margin-right: 10px;
}
.dash span{
  font-size: 25px;
}
.dash p{
 display: none;
  font-size: 16px;

}
.img2{
  height: 25px;
  margin-bottom: 30px;
 }
}