@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap');
@font-face {
    font-family: "brfirma";
    src: url("./webfontkit/br_firma_regular-webfont.woff");
}
body{
    font-family: 'brfirma', sans-serif;
}
.hero-section{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}


.hero{
   height: 450px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.location{
    width: 30%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 20px;
    margin-left: 20px;

}

.enter-locate{
    height: 320px;
    width: 19.2rem;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: white;
    
}

.state{
    height: 2.3rem;
    width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.enugu{
    width: 16.4rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.late{
    height:2.5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #F5F5F5;
}
.enter-locate button{
   height: 30px;
   width: 100px;
   border: none;
   border-radius: 5px;
   margin-left: 10.2rem;
}

.catergory{
    height: 80px;
    width: 19rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.catergory p{
   margin-right: 70px;
}
.cat1{
    height: 30px;
    width: 80%;
   margin-right: 30px;
   margin-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.cat1 span{
    font-weight: bold;
}


.hero img{
   height: 400px;
   margin-right: 20px;

}

.location2{
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}
.locate{
    height: 50px;
    width: 150px;
    border: 1px solid #8C8C8C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.locate p{
 margin-left: 3px;
}
.cart{
    background-color: white;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;

 
}

.see-all{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;


}
.see h2{
    color: black;
}
.see-all span{
    color:  black;
}
.see2 h2{
    color: white;
}
.see2 span {
    color: white;
}
.see3 h2{

        color: white;
    
}
.see-all2{
    border-radius: none;
    background-color: 
    #06335B;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.see{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.see2{
    width: 15%;
}
.see2 img{
    height: 30px;
}
.see span{
    font-size: 25px;

}
.see-all-h2{
    margin-left: 40px;
  
}
.see:nth-child(1){
    margin-left: 30px;
    color: white;
}
.see:nth-child(2){
    margin-right: 30px;
    color: white;
}


.product{

    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.pro{
    height: 390px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 12px;
}
.image{
    height: 350px;
}

.second-cart{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;
    margin-top: 30px;
    background-color: white;
 
}
.third-cart{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

 
}

.third-cart .see-all2{
    border-radius: none;
}
.pro3{
    display:  none;
}

.foot{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: white;
}
.swappers{
    height: 300px;
    width: 100%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.popular{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    background-color: white;
}
.popular img{
    margin-left: 5px;
    margin-top: 5px;
}
.popular-images{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.popular-img{
    height: 250px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.popular-img img{
    height: 230px;
}
.first-footer{
        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

}
.first-footer img{
    margin-left: 45px;
}
.features{
    height: 300px;
  width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   background-color: white;
}

.product-features{
    height: 300px;
    width: 50%;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45px;
}

.main-products{
    height: 100%;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.main-product p{
    font-size: 18px;
}
.main-products p{
    font-size: 18px;
}
.main-product h2{
    font-size: 20px;
}
.main-products h2{
    font-size: 20px;
}

.main-product{
    height: 60%;
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 40px;
}
.stops{
    width: 100%;    
    height: 40px;
}
.stop{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}
.footer{

    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.see:nth-child(1) img {
    margin-left: 7px;
   
  }
@media only screen and  (min-width: 300px) and (max-width: 768px) {
    .location{
        display: none;
    }
    .hero-image{
        height: 200px;
        width: 100%;
 
    }
    .hero img{
        height: 180px;
        margin-right: 0px;
     
     }
 
     .hero{
        height: 230px;
        width: 100%;
        justify-content: center;
     

     }
     .hero-section{
        height: 330px;
         background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-top: 5px;

     }
     .locate{
        height: 45px;
        width: 130px;
 
     }
     .location2{
        width: 95%;
        height: 80px;
        display: flex;
       
     }
     .cart{
        margin-top: 30px;
        height: 350px;
        justify-content: center;
     }
     .product{
        height: 300px;
    
        

     }
     .pro{
        height: 280px;
        
        
     
     }
     .image{
        height: 260px;
    }
    .kill{
        display: none;
    }
    .see-all{
        justify-content: space-between;
        height: 30px;
    
      
    }
   
    .see-all h2{
        margin-left: 20px;
        font-size: 14px;

    }
    .see h2{
        margin-left: 0px;
      
        
    }
    .see-all p{
        margin-right: 30px;
     
    }
    

.see:nth-child(1) {
     margin-left: 0px; 
     color: white;
}

.see:nth-child(1) img {
  margin-left: 7px;
  height: 20px;
}
.see:nth-child(2) {
    margin-right: 0px; 
    color: white;
}

    .second-cart{
     
        height: 600px;
        margin-top: 55px;
       
    }
    .pro2{
        height: 550px;
    

    }
   .pro3{
    display: flex;

    height: 400px;
   }
   .popular{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
   }
   .swappers{
    margin-top: 40px;
    background-color: beige;
   }
   .popular-img img{
    height: 100px;
   }
   .popular-img{
    height: 50%;
    width: 100%;
   }
   .popular-images{
    flex-direction: column;
   }
   .first-footer{
    height: 680px;
    margin-top: 30px;
   }
   .first-footer img{
    margin-left: 25px;
    margin-top: 10px;
   }
   .foot{
    height: 1000px;
   }
   .features{
    height: 520px;
    flex-direction: column;
   }
   .product-features{
    height: 60%;
    width: 100%;
    margin-left: 0px;
   }
   .main-product{
    height: 40%;
    width: 100%;
    padding-left: 20px;
   }
   .main-products{
    height: 100%;
    width: 50%;
    padding-left: 25px;
   }
   .main-products:nth-child(2){
    align-items: flex-end;
    padding-right: 25px;
   }
   .stop{
    align-items: flex-end;
   
   }
   .third-cart{
    margin-top: 80px;
    height: 550px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   }

   .see{

    height: 50px;
   
    width: 30%;
}
.see h2{
    font-size: 13px;
}
.see2{
    width: 40%;

}
.see-all2{
    margin-top: 10px;
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}



}


@media only screen and  (min-width: 760px) and (max-width: 1200px) {
    .image{
        height: 220px;
    }
    .product{
        height: 300px;
    }
    .pro{
        height: 250px;
    }
    .cart{
        height: 400px;
        margin-top: 30px;
    }
    .popular-img img{
        height: 200px;
    }
    .hero img{
        height: 300px;
    }
    .location{
        width: 40%;
    }
}